<mat-drawer-container class="main-container" autosize>
  <mat-drawer mode="side" opened>
    <div class="d-flex justify-content-center mt-3">
     <img src="../assets/ifes.ico" >
     <h1 class="d-flex align-items-center">Projeto Origami</h1>
   </div>
   <mat-divider></mat-divider>
   <div>
    <mat-list class="mt-3">
      <mat-list-item [routerLink]="'/'" >
        <mat-icon fontIcon="home"></mat-icon>
        <span>Página inicial</span>
      </mat-list-item>
      <mat-list-item [routerLink]="'/projetos'">
        <mat-icon fontIcon="folder"></mat-icon>
        <span>Projeto</span>
      </mat-list-item>
     </mat-list>
   </div>
  </mat-drawer>
  <mat-drawer-content>
    <mat-toolbar> </mat-toolbar>
    <router-outlet></router-outlet>
    <mat-toolbar class="footer">
      <span>Projeto Origami</span>
    </mat-toolbar>
  </mat-drawer-content>
</mat-drawer-container>