<div class="container">
  <div class="d-flex justify-content-around mt-5 mb-5">
      <h1>Tipos de Épicos</h1>
      <button mat-raised-button class="success-button" (click)="criar()">
        Cadastrar novo tipo de épico
      </button>
  </div>
  <div>
    <table class="table table-hover">
      <thead>
        <th>Id</th>
        <th>Descrição</th>
        <th>Ações</th>
      </thead>
      <tbody>
        <tr *ngFor="let tipo of tipos">
          <td> {{ tipo.id }}</td>
          <td> {{ tipo.descricao }}</td>
          <td class="column-actions">
            <button class="actions edit-button"
              matTooltip="Editar/Ver Detalhes"
              (click)="editar(tipo)">
              <mat-icon>edit</mat-icon>
            </button>
            <button class="actions cancel-button"
              matTooltip="Deletar" 
              (click)="deletar(tipo)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
